
<div class="row">
           <div class="col-md-4">
               <h2>Mass Shootings</h2>
               <p>
                   View and explore mass shootings.
               </p>
               <p><a class="btn btn-default" value="View" onclick="location.href='@Url.Action("MassShootings", "Data", new { page = 1 })'">Explore &raquo;</a></p>
           </div>
           <div class="col-md-4">
                   <h2>Executions</h2>
                   <p>

                       View and explore executed criminals
                   </p>
                   <p><a class="btn btn-default" value="View" onclick="location.href='@Url.Action("Executions", "Data", new { page = 1 })'">Explore &raquo;</a></p>
          
           </div>
           <div class="col-md-4">
                   <h2>Death Row</h2>
                   <p>
                       View and explore Death Row population by state
                   </p>
                   <p><a class="btn btn-default" value="View" onclick="location.href='@Url.Action("DeathRow", "Data", new { page = 1 })'">Explore &raquo;</a></p>
               </div>
    </div>

