@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h4>
        Who are mass shooters? We’ve seen them in the news, and heard about them in the debates, but who are they really, and more importantly, why aren’t we able to stop them?
    </h4>
    <p>

    </p>
    <h4>
        The Mass Shooters database, heretofore to be referenced as Shooters DB, is a collection of information collected from the internet about a group of violent mass shooters. In the database, we have 110 shooters, linked to 109 different mass shootings. Shooter DB links to each shooter how many, and what type of guns they had. Shooter DB also attempts to link where they bought their guns. Shooter DB keeps track of how they died, or if they are still alive (and in jail). Shooter DB also keeps track of personal information regarding the shooter, especially in regards to mental health.
    </h4>

</p>
